<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name></display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>NewsServlet</servlet-name>
		<servlet-class>com.yyf.androidserver.servlet.NewsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CommentServlet</servlet-name>
		<servlet-class>com.yyf.androidserver.servlet.CommentServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SearchHotServlet</servlet-name>
		<servlet-class>com.yyf.androidserver.servlet.SearchHotServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserServlet</servlet-name>
		<servlet-class>com.yyf.androidserver.servlet.UserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NewsServlet</servlet-name>
		<url-pattern>/servlet/NewsServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CommentServlet</servlet-name>
		<url-pattern>/servlet/CommentServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchHotServlet</servlet-name>
		<url-pattern>/servlet/SearchHotServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserServlet</servlet-name>
		<url-pattern>/servlet/UserServlet</url-pattern>
	</servlet-mapping>
</web-app>